doctype html
html
  head
    title= behavioralRank
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/separator.css')
  body
    div(class= 'graph')
      p aljkfld
      script.
        let data = !{JSON.stringify(data)}
        let defaultPoint = !{JSON.stringify(defaultPoint)}
        console.log(data)
    div(class= 'table')
      include table.pug