doctype html
html
  head
    title= 'analysis - dietary restriction'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='/scripts/analysis.js', type='text/javascript')
    script(src="https://cdn.plot.ly/plotly-latest.min.js", charset='utf-8')
    script.
      let data = !{JSON.stringify(data)}
      let countAns = !{JSON.stringify(countAns)}
      console.log(data)
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-5')
          h1 Dietary restriction
      div(class='row')
      - let rowNum = data.length
      - let i = 0
      while i < rowNum
        div(class='col-sm-3', id='pieChart' + i)
        - i++
    script.
      for (let i = 0; i < data.length; i++) {
        drawPieChart(countAns[i], data[i][0].question, 'pieChart' + Number(i))
      }