doctype html
html
  head
    title= 'Development of Multi-Criteria Food Recommendation Algorithms and User Interface'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-5')
          h1 Thank you!
          label This is the end of experiments. Thanks for attendance.
        div(class='col-sm-2')
          h5 &nbsp;
          a(href= '/')
            button(class='btn btn-primary btn-lg', type='button') Go back to the start of experiment