doctype html
html
  head
    meta(charset='UTF-8')
    title Genetic Sorting
    link(rel='stylesheet', href='/css/geneticSort.css', type='text/css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script.
      // function
      function drawPath (mid_name, points_set) {
        var line_stroke = 'red'
        var polyline_set = []
        for (i = 0; i < points_set.length - 1; i++) {
          if (points_set[i]['name'] == mid_name) { line_stroke = 'green' }
          var name1 = points_set[i]['name']
          var point1 = points_set[i]['point']
          var name2 = points_set[i + 1]['name']
          var point2 = points_set[i + 1]['point']
          var points = (500 * point1[0] + 20) + ',' + (520 - 500 * point1[1]) + ' ' + (500 * point2[0] + 20) + ',' + (520 - 500 * point2[1])
          var style = 'fill:none;stroke:' + line_stroke + ';stroke-width:2'
          var polyline = [points,style]
          polyline_set.push(polyline)
        }
        svg.selectAll('polyline')
        .data(polyline_set)
        .enter()
        .append('polyline')
        .attr('points', function (d,i) { return d[0] })
        .attr('style', function (d,i) { return d[1] })
      }
      // draw svg & axis
      var width = 550
      var height = 550
      var svg = d3.select('body')
      .append('svg')
      .attr('width', width)
      .attr('height', height)
      var dataset = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      var linearX = d3.scale.linear()
      .domain([0, d3.max(dataset)])
      .range([0, 500])
      var linearY = d3.scale.linear()
      .domain([0, d3.max(dataset)])
      .range([500, 0])
      var axisX = d3.svg.axis()
      .scale(linearX)      //指定比例尺
      .orient('bottom')   //指定刻度的方向
      .ticks(11);          //指定刻度的数量
      svg.append('g')
      .attr('class','axis')
      .attr('transform','translate(20,520)')
      .call(axisX)
      var axisY = d3.svg.axis()
      .scale(linearY)
      .orient('left')
      .ticks(11);
      svg.append('g')
      .attr('class','axis')
      .attr('transform','translate(20,20)')
      .call(axisY)
      // get data: read the csv file(it can only work when the html file runs on a server)
      var data = !{JSON.stringify(data)}
      var points = !{JSON.stringify(points)}
      var cnt = !{JSON.stringify(cnt)}
      console.log(JSON.stringify(cnt))
      // draw points
      svg.selectAll('circle')
      .data(points)
      .enter()
      .append('circle')
      .attr('stroke','blue')
      .attr('stroke-width','1')
      .attr('r','5')
      .attr('fill','blue')
      .attr('id',function (d,i) { return d['name'] })
      .attr('cx',function (d,i) {
        return d['point'][0] * 500 + 20
      })
      .attr('cy',function (d,i) {
        return 520 - d['point'][1] * 500
      })
      midName = data[parseInt(cnt/2)]['Food Name']
      drawPath(midName, points)
