extends layout

block content
  div(class='consentForm')
    div(class='container')
      div(class='row text-center')
        h1 Development of Multi-Criteria Food Recommendation Algorithms and User Interface
      div(class='row text-center')
        h3 Consent Form
      div(class='scrollableContent')
        label 1. Protocol title
        p.text Development of Multi-Criteria Food Recommendation Algorithms and User Interface
        label 2. What is the purpose of this research?
        p.text You are invited to participate in a research study. It is important to present lists of information to people to help them choose items, but as devices get smaller, this limits the user interface and interaction. And this research aims to develop and test different user interfaces to rank items in small mobile phone screens. You will be presented with one or more user interfaces and be asked to choose a best item from a list.
        label 3. Who can participate in the research? What is the expected duration of my participation? What is the duration of this research?
        p.text Participation is voluntary. You must be aged 18 and over, and have access to the Internet.
        label 4. What is the approximate number of research participants involved?
        p.text There will be approximately 200 participants in this study.
        label 5. What will be done if I take part in this research study?
        p.text You will have to complete an online experiment including survey questions with reference to our research questions. We estimate that this will take about 60 minutes.
        p.text During the experiment, you will have to finish the tasks by following the instructions. Your interface usage, final submission, and time duration will be measured. And you will have to answer the rationale and other related questions in the survey sections.
        label 6. How will my privacy and the confidentiality of my research records be protected?
        p.text Your personal data (e.g. names and contact information,) will not be collected.
        p.text All data collected will be kept in accordance to the University’s Research Data Management Policy. Research data used in any publication will be kept for a minimum of 10 years before being discarded.
        label 7. What are the possible discomforts and risks for participants?
        p.text There are no known risks associated with your participation in this research beyond those of everyday life.
        label 8. What is the compensation for any injury?
        p.text No injury and/or compensation are expected.
        label 9. What are the possible benefits to me and to others?
        p.text There is no direct benefit to you by participating in this research study. The technique gained from this research may benefit the public in the future. The application of algorithm and interface are not restricted to food recommendation, they may be utilized in different fields.
        label 10. Can I refuse to participate in this research?
        p.text Yes, you can. Your decision to participate in this research study is voluntary and completely up to you. You can also withdraw from the research at any time without giving any reasons, by informing the principal investigator and all your data collected will be discarded.
        p.text You are entitled to refuse to participate or discontinue participation at any time in this research. Refusal to participate or withdrawal from participation will involve no penalty or loss of benefits to which you are otherwise entitled.
        label 11. Whom should I call if I have any questions or problems?
        p.text Please contact the Principal Investigator, Brian Lim or Attn: I-Shuen Wu at telephone +65 6601 1084 and email ishuen@comp.nus.edu.sg) for all research-related matters and in the event of research-related injuries. For an independent opinion regarding the research and the rights of research participants, you may contact a staff member of the National University of Singapore Institutional Review Board (Attn: Dr Chan Tuck Wai, at telephone (+65) 6516 1234 or email at irb@nus.edu.sg).
        hr
        label I hereby acknowledge that:
        p.text 1. I have agreed to take part in the above research.
        p.text 2. I have received a copy of this information sheet that explains the use of my data in this research. I understand its contents and agree to donate my data for the use of this research.
        p.text 3. I can withdraw from the research at any point of time by informing the Principal Investigator and all my data will be discarded.
        p.text 4. I will not have any financial benefits that result from the commercial development of this research.
        p.text 5. I consent to have the coded data made available for future research studies. This will be subject to an Institutional Review Board’s approval.
        label Principal Investigator with the contact number and organization:
        p.text Principal Investigator: Brian Lim
        p.text Contact number: +65 6601 1084
        p.text Organisation: Dept of Computer Science, NUS
      div(class='checkbox text-center')
        label
          input(id='checkbox', type="checkbox" value="")
          | I agree to participate      
      div(class='text-center')
        a(id='link', href= '/survey3/sg/' + userId)
          button(class='btn btn-primary btn-lg', type='button') Next
  script.
    $('#link').click(function() {
      if ($('#checkbox').prop('checked') === false) {
        alert('You have to agree with the consent form.')
        return false
      }
    })