extends layout

block content
  div(class='consentForm')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h3 Thanks for coming, we have already done our first part of experiments ahead of schedule. If you are interested in the second part of experiment, please register here. 
      div(class='row')
        div(class='col-sm-12')
          iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSeJblSZNrofFNYu5Po2EcRzJTk4O65jO29ruoa-vGlzovSO_A/viewform?embedded=true' width='100%' height='500px' frameborder='0' marginheight='0' marginwidth='0') Loading...