extends layout

block content
  div(class='consentForm')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScPApgwh6_qtUwsAo1Uk45ujKaebLeKWpJrVII-ypwpVrDRqA/viewform?embedded=true&entry.1905076335=' + userId + '&entry.2128922355=' + trial width='800' height='600' frameborder='0' marginheight='0' marginwidth='0') Loading...