.card {
  width: 100%;
  height: auto;
  font-size: 8pt;
  border: black 1px solid;
  text-align: left;
  padding: 2%;
  background-color: white;
  margin: 0px;
  display: inline-block;
  white-space: normal;
}

.card img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.scores {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 10pt;
  position: relative;
  bottom: 0px;
}
.scores table {
  border: 0px;
}

.scores th {
  width: 50%;
}

.taste {
  color: red;
  text-align: center;
}

.health {
  color: green;
  text-align: center;
}
.col-sm-1 {
  padding: 0px;
}
.row {
  margin: 2%;
}
#source {
  height: 200px;
  background-color: #D8D8D8;
}

#source .ui-selecting {
  background-color: #86C8EF;
}

#source .ui-selected {
  background-color: #67ACD4;
}
#source div {
  display: inline-block;
}
div #tasteSort {
  height: 200px;
  background-color: #D8D8D8;
  /*overflow-x: scroll;*/
  /*overflow-y: hidden;*/
  /*white-space: nowrap;*/
}
/*#tasteSort .col-sm-1 {
  display: inline-block;
}*/
#tasteSort div {
  /*float: none;*/
  display: inline-block;
}

.row > .col-sm-1 {
  display:flex;
  flex: 0 0 142px;
  /*max-width: 25%*/
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap!important;
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}
.flex-row {
  display:flex;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -webkit-flex-direction: row!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
  overflow: auto
}

#tasteChart {
  float: right;
  margin-left: auto;
  /*float: none;*/
  background-color: #D8D8D8;
  min-width: 350px;
  min-height: 200px;
}
div .cardListEle {
  height: 200px;
  width: 142px;
}
.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
  shape-rendering: crispEdges;
  stroke: gray;
}
.table tr {
  pading-left: 2%;
}
path {
  stroke-width: 2;
  fill: none;
}
.tabSpace {
  padding: 3em;
}
.sliceSpace {
  padding: 3px;
}
#sortingResult {
  width: 1vw;
}
#sortingResult {
  display: inline;
}
#reset {
  display: inline;
}
/*svg {
  float: right;
}*/
#scatterPlot .main text {
    font: 10px sans-serif;  
}

#scatterPlot .axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

#scatterPlot circle {
  fill: steelblue;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
