body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centerDisplay {
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 300px;
  height: 430px;
  font-size: 15pt;
  border: black 3px solid;
  text-align: left;
  padding: 2%;
  background-color: white;
}

.scores {
  width: 100%;
  height: 18%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.taste {
  color: blue;
}
.health {
  color: red;
}
/*.smallCard {
}
*//*.smallCard:hover {
  transform: scale(1.5);
}*/

#sourcePanel {
  /*transform-origin: left top;*/
  /*transform: scale(0.5);*/
  width: 90%;
  height: auto;
  margin: 0px;
}
#sourcePanel table {
  width: 100%;
  height: auto;
}
#destinationPanel {
  width: 100%;
  height: 270px;
  border: black 3px solid;
}
.exp {
  width: 100%;
  height: 350px;
  padding: 0px;
  margin: 0px;
}
.expSubmit {
  float: right;
  border: none;
  font-size: 15pt;
  padding: 15px 32px;
}