/*index page*/
.consentForm {
  width: 80%;
  margin: auto;
  padding: auto;
}
.consentForm p {
  font-size: 18pt;
}
.consentForm h1 {
  text-align: center;
}
.consentForm h2 {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.text {
  padding-left: 10px;
}
.scrollableContent {
  width: 80%;
  height: 500px;
  margin: auto;
  padding: 5px;
  border: 2px solid #D8D8D8;
  border-radius: 5px;
  overflow-y: scroll;
}
.agreeCheckbox {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: auto;
  text-align: center;
  font-size: 18pt;
}
.agreeCheckbox span {
  margin: 20px;
  font-weight: normal !important;
}
.agreeCheckbox input[type=checkbox] {
  transform: scale(2);
}
.indexButton {
  text-align: center;
}
.indexButton button{
  width: 30%;
  cursor: pointer;
  padding: 0px;
  margin-left: 35%;
  margin-right: 35%;
  height: 50px;
  font-size: 18pt;
  background-color: #D8D8D8;
  color: black;
  border: none;
}

/*pre-survey dietary constraint*/
.likert {
  width: 100%;
  border: black 3px solid;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14pt;
}
.likert tr td{
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.likert th {
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.likert input[type=radio] {
  width: 100%;
  height: 2em;
}
.others {
  float: right;
  width: 80%;
  margin: 5px;
}
.qnOption span{
  font-size: 14pt;
}
.qnOption input[type=radio] {
  height: 2em;
}
.qnOption {
  font-weight: normal !important;
}
.surSubmit {
  width: 150px;
  font-size: 18pt;
}
.surSubmit input[type=submit] {
  border: none;
  padding: 15px 20px;
}

/*survey1 & 2*/
.itemLikert {
  width: 100%;
  border: black 3px solid;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14pt;
}
.itemLikert tr td{
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.itemLikert th {
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.itemLikert input[type=radio] {
  width: 100%;
  height: 2em;
}
.foodForm p {
  font-size: 14pt;
}
.foodForm input[type=text] {
  margin-bottom: 20px;
}
.bigCard {
  width: 360px;
  height: 520px;
  font-size: 15pt;
  border: black 3px solid;
  text-align: left;
  padding: 2%;
  background-color: white;
  margin: auto;
}
.bigCard img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.bigCard h3 {
  margin: 2%;
  white-space: initial;
  position: relative;
  top: 0px;
}
/*survey3&4*/
.expLikert {
  width: 100%;
  border: black 3px solid;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14pt;
}
.expLikert tr td{
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.expLikert th {
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.expLikert input[type=radio] {
  width: 100%;
  height: 2em;
}
.expQnOption span{
  font-size: 14pt;
}
.expQnOption input[type=radio] {
  height: 2em;
}
.expQnOption {
  font-weight: normal !important;
}
/*demographics*/
.demographics h1 {
  padding-left: 20px;
}
.nextExpButton {
  width: 100%;
  text-align: center;
  margin: 30px;
}
.nextExpButton button{
  width: 30%;
  cursor: pointer;
  text-align: center;
  padding: auto;
  margin-left: 35%;
  margin-right: 35%;
  height: 50px;
  font-size: 18pt;
  background-color: #D8D8D8;
  color: black;
  border: none;
}
.smallCard {
  width: 200px;
  height: 280px;
  font-size: 12pt;
  border: black 2px solid;
  text-align: left;
  padding: 1%;
  background-color: white;
  float: left;
}
.smallCard img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.smallCard h3 {
  font-size: 12pt;
  margin: 2%;
  white-space: initial;
  position: relative;
  top: 0px;
}
.scoresSmall {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 12pt;
  position: relative;
  bottom: 0px;
}
.scoresSmall table {
  border: 0px;
}

.scoresSmall th {
  width: 50%;
}

.smallLikert {
  height: 280px;
  border: black 3px solid;
  padding: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14pt;
}
.smallLikert tr td{
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
  width: 14%;
}
.smallLikert th {
  margin: 0px;
  padding: 5px;
  border: black 3px solid;
}
.smallLikert input[type=radio] {
  width: 100%;
  height: 2em;
}
/*survey 7, 8 (new survey 2, 1)*/
div[id^='section'] {
  height: 760px;
  border-bottom: black 3px solid;
}
div[id^='sectionA'] {
  height: 1100px;
  border-bottom: black 3px solid;
}
body.foodSurvey {
  position: relative;
}
div.col-sm-9 {
  float: right;
}
.nav {
  background-color: #D8D8D8;
  padding-left: auto;
  padding-right: auto;
}
.navbar {
  margin: auto;
  width: 130px;
  height: 170px;
  padding:0px;
}
.navbar a {
  width: 100%;
  margin: auto;
  padding: auto;
  height: 100%;
}
div.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col-sm-2 ul {
  height: 850px;
  width: 130px;
  overflow-y: scroll;
}
.littleCard {
  width: 100px;
  height: 150px;
  font-size: 5pt;
  border: black 1px solid;
  text-align: left;
  padding: 1%;
  background-color: white;
  float: left;
  color: black;
  margin: auto;
}
.littleCard img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.littleCard h3 {
  font-size: 5pt;
  margin: 2%;
  white-space: initial;
  position: relative;
  top: 0px;
}
.scoresLittle {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 8pt;
  position: relative;
  bottom: 0px;
}
.scoresLittle table {
  border: 0px;
}

.scoresLittle th {
  width: 50%;
}
.mediumCard {
  width: 280px;
  height: 380px;
  font-size: 13pt;
  border: black 3px solid;
  text-align: left;
  padding: 2%;
  background-color: white;
  margin: auto;
}
.mediumCard img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.mediumCard h3 {
  font-size: 13pt;
  margin: 2%;
  white-space: initial;
  position: relative;
  top: 0px;
}
.scoresMedium {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 20pt;
  position: relative;
  bottom: 0px;
}
.scoresMedium table {
  border: 0px;
}

.scoresMedium th {
  width: 50%;
}